excluded-subprojects
extra-subprojects
.*.swp
*~
env
dead
*.sess
tags
TAGS
*.vim
distribute*tar.gz

# -----------------------------------------------------------------------------
# DO NOT CHANGE ANYTHING BELOW THIS LINE
# -----------------------------------------------------------------------------

# PROJECTS BELOW
aksetup
jhbuild
pytools
pymbolic
pyublas
meshpy
pyvisfile
codepy
pycuda
pyopencl
pymetis
pyrticle
pyublasext
quiet-beam-sampling
hedge
