excluded-subprojects
.*.swp
*~
env
dead
*.sess
tags

# -----------------------------------------------------------------------------
# DO NOT CHANGE ANYTHING BELOW THIS LINE
# -----------------------------------------------------------------------------

# PROJECTS BELOW
aksetup
jhbuild
pytools
pymbolic
pyublas
boostmpi
meshpy
pylo
codepy
pycuda
pymetis
hedge
pyrticle
pyublasext
experiments
quiet-beam-sampling
